html,
body {
  height: 100%;
}
ul,
ol {
  list-style: none;
}
html {
  font-size: 75px;
}
a {
  display: block;
  color: #000;
}
a:hover,
a:active,
a,
a:visited,
a:link {
  text-decoration: none;
}
.part {
  min-width: 320px;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  height: 1000px;
}
.heard {
  max-width: 750px;
  height: 1.333333rem /* 100/75 */;
  width: 100%;
  background-color: #ff841d;
  padding: 0 0.2rem /* 15/75 */;
  box-sizing: border-box;
}
.heard .heard_right {
  float: right;
  width: 1rem /* 100/75 */;
  height: 100%;
  padding-top: 0.16667rem /* 5/75 */;
}
.heard .heard_right img {
  width: 0.906667rem /* 68/75 */;
}
.heard .heard_left {
  overflow: hidden;
  /* 200/75 */
  height: 100%;
  text-align: center;
}
.heard .heard_left a {
  font-size: 0.506667rem /* 38/75 */;
  margin-top: 0.406667rem /* 20/75 */;
  color: #fff;
}
.heard .heard_left h3 {
  height: 100%;
  margin: 0;
  line-height: 1.433333rem;
  font-size: 0.506667rem /* 38/75 */;
  color: #fff;
}
.foot {
  margin-top: 0.333333rem /* 25/75 */;
}
.foot ul {
  padding: 0;
}
.foot ul li {
  float: left;
  width: 33.33%;
  height: 0.88rem /* 66/75 */;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 0.88rem /* 66/75 */;
}
.foot ul li a {
  font-size: 0.346667rem /* 26/75 */;
  color: #000;
}
.foot ul li a:hover {
  text-decoration: none;
  color: blue;
}
.foot .foot_title {
  margin-top: 0.33333rem /* 25/75 */;
  text-align: center;
}
.foot .foot_title p:nth-child(1) {
  font-size: 0.32rem /* 24/75 */;
  color: #5e6261;
}
.foot .foot_title p:nth-child(2) {
  font-size: 0.213333rem /* 16/75 */;
}
.foot .foot_title a {
  display: inline-block;
  color: #000;
}
.foot .foot_title a span {
  color: red;
}
.main {
  margin-top: 0.266667rem /* 20/75 */;
}
.main .one {
  float: left;
  width: 50%;
  height: 7rem /* 525/75 */;
  box-sizing: border-box;
  border-bottom: 0.026667rem /* 2/75 */ solid #efefef;
  padding: 0 0.4rem /* 30/75 */;
}
.main .one img {
  width: 100%;
  height: 4.266667rem /* 320/75 */;
}
.main .one h5 {
  font-size: 0.346667rem /* 26/75 */;
  font-weight: 500;
}
.main .one p {
  font-size: 0.346667rem /* 26/75 */;
  color: #ff6923;
}
.main .one .tit {
  font-size: 0.32rem /* 24/75 */;
  color: #878287;
}
.main .one:nth-child(2n) {
  border-left: 0.013333rem /* 1/75 */ /* 2/75 */ solid #efefef;
}
.main .one:nth-child(2n-1) {
  border-right: 0.013333rem /* 1/75 */ /* 2/75 */ solid #efefef;
}
